.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #edf4f5;
  opacity: 1.0;
}

.Navbar__brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  width:50px;
  
}

.fuente1 {
  color: black;
}

.fuente2 {
  color: black;
}
